[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
fastapi-cors = "*"
mangum = "*"
pillow = "*"
black = "*"
flake8 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn --app-dir app main:app --reload"
format = "python -m black app"
lint = "python -m flake8 app"
