/* learningTreeNode.css version1 */

.card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: small;
    height: auto; /* Fixed height */
    display: flex;
    /* transition: all 0.3s ease-in-out; Smooth transition for all properties */
}

.title {
    font-size: medium;
}

.smalltreenode {
    width: 10vw; /* Match width to height for small nodes */
    min-width: 150px;
    height: auto;
    /* transition: all 0.3s ease-in-out; Smooth transition when scaling up */
}

.bigtreenode {
    width: 30vw;
    min-width: 400px;
    position: relative;
    left: -10vw;
    text-align: center;
    /* transition: all 0.3s ease-in-out; Smooth transition when scaling down */
}

.description {
    margin-bottom: 5px; /* Reduced space below the description */
}

.category-chip {
    position: absolute;
}
