.smalltreeNode {
  width: 25vw;  
}

.bigtreenode{
  width: 40vw;
  position: relative;
  left: -12.5vw;
  text-align: center;
}

.tags{
  padding: 2%;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: auto;
  text-align: center;
}

