.card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    height: auto; /* Fixed height */
    display: flex;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: x-large;
  }
  
  .smalltreenode {
    width: auto; /* Match width to height for small nodes */
    height: auto;
  }
  
  .bigtreenode {
    width: 40vw;
    position: relative;
    left: -12.5vw;
    text-align: center;
  }
  
  .description {
    margin-bottom: 5px; /* Reduced space below the description */
  }
  
  .category-chip {
    position: absolute;
  }