p, ul, ol, code {
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    color: #eee;
}

h1{
    font-size: 50px; line-height: 50px; letter-spacing: -.025em;
    margin-bottom: 10px;
}
h2{
    font-size: 37px; line-height: 37px;
    margin-bottom: 0px;
}
h3{
    font-size: 29px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 17px;
}

img {
    border-radius: 1rem;
}

.prettyprint {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
    border: 0 !important;
}

.pln {
    color: #c5c8c6 !important;
}

ol.linenums {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #969896 !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em !important;
    background-color: #1d1f21 !important;
    list-style-type: decimal !important;
}

@media screen {
    .str {
        color: #b5bd68 !important;
    }

    .kwd {
        color: #b294bb !important;
    }

    .com {
        color: #969896 !important;
    }

    .typ {
        color: #81a2be !important;
    }

    .lit {
        color: #de935f !important;
    }

    .pun {
        color: #c5c8c6 !important;
    }

    .opn {
        color: #c5c8c6 !important;
    }

    .clo {
        color: #c5c8c6 !important;
    }

    .tag {
        color: #cc6666 !important;
    }

    .atn {
        color: #de935f !important;
    }
    .atv {
        color: #8abeb7 !important;
    }

    .dec {
        color: #de935f !important;
    }

    .var {
        color: #cc6666 !important;
    }

    .fun {
        color: #81a2be !important;
    }
}

h2.yellow-why {
    color: yellow !important;
}