<!DOCTYPE html>
<html>
    <head>
        $$common_metadata('MAIC 404')$$
        <!-- <title>MAIC 404</title>
        <link rel="icon" href="./logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css"> -->
        <style>
            #stuff{
                /* position: absolute; */
                width:100%;
                /* left: 0;
                top: 0;
                height: 500px; */
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="stuff">
            <h1 style="font-size: 800%;">404</h1>
            <h2>The page you're looking for doesn't exist! <a href="./index.html">Go back!</a></h2>
            <p>
                <img src="./img/404snail.png">
            </p>
        </div>
    </body>
</html>