<!DOCTYPE html>
<html>
    <head>
        $$common_metadata('MAIC')$$
    </head>
    <body>
        $$toolbar('contact.html')$$
        <div class="card">
            <div>
                <h1>Contact Whole Eboard</h1>
            </div>
            <div class="break"></div>
            <div>
                <img src="./img/eboard.png" width="500">
                <br>
                <a href=".">Contact</a>
                <p>(note about not contacting individuals unless necessary)</p>
                <hr>
            </div>
        </div>
        $$gen_html_from_cards(contacts)$$
    </body>
</html>