<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../resources/images/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/index.css" />
    <title>MAIC</title>
</head>
<body>
    <img src="../resources/images/logo.png" class="logo"/>
    <h1>MSOE Artificial Intelligence Club</h1>
    <h5><a href="../index.html">Back to the homepage</a></h5>
    <h1>Music Transformer</h1>
    <ul>
        <li>
            <h2 id="firsttime">Setup</h2>
            <ul>
                <li>Full instructions can be found on in the README.md of <bold>
                    <a href="../resources/downloads/music_transformer.zip" download target="_blank">this repository.</a></bold></li>
                <li>Just download the file linked one line above here, drop the zip file onto ROSIE, unzip it, and follow the instructions in the README.md</li>
            </ul>
        </li>
        <li>
            <h2 id="firsttime">Papers</h2>
            <ul>
                <li>You can read our in depth papers on the technologies used below</li>
                <li><a href="../resources/downloads/music_generation.pdf" download target="_blank">Music Generation</a></li>
                <li><a href="../resources/downloads/music_correction.pdf" download target="_blank">Music Correction</a></li>
            </ul>
        </li>
    </ul>
    <h4 class="sticky"><a href="rosie.html">Back to Top</a></h4>
</body>
</html>