<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../resources/images/logo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../resources/css/index.css" />
  <title>MAIC</title>
</head>
<body>
  <img src="../resources/images/logo.png" class="logo"/>
  <h1>MSOE Artificial Intelligence Club</h1>
  <h5><a href="../index.html">Back to the homepage</a></h5>
  <h1>Ticket Shop</h1>
  <ul>
    <li>
        <h2>How does it work?</h2>
        <p>
            When you show up to MAIC meetings and sign in with the sign in form, you'll accumulate attendatnce tickets.<br/>
            When you complete challenge problems in our workshops and then present them to an eboard member, you'll accumulate challenge points.<br/>
            If you would like to spend your tickets on any of the items below, reach out to an eboard member and they will help.
        </p>
    </li>
    <li>
        <h2>Frisbee - 1 Attendance or 2 Challenge Tickets</h2>
        <p>No image yet - you've all seen these</p>
    </li>
    <li>
        <h2>Squishy Brain - 1 Attendance or 2 Challenge Ticket</h2>
        <img src="../resources/images/brain.jpg" />
    </li>
    <li>
        <h2>Umbrella - 8 Attendance or 12 Challenge Tickets</h2>
        <img src="../resources/images/umbrella.jpg" />
    </li>
    <li>
        <h2>Shirt - 13 Attendance or 15 Challenge Tickets</h2>
        <img src="../resources/images/ebaord.png"/>
    </li>
    <li>
        <h2>Polo - 18 Attendance or 22 Challenge Tickets</h2>
        <p>No image yet</p>
    </li>
    <li>
        <h2>Hoodie - 30 Challenge Tickets</h2>
        <img src="../resources/images/hoodie.jpg"/>
    </li>
  </ul>
</body>
</html>  